/* font family */
h1,h2,h3,span{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p,a,li,label{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* font sizes */
h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
}
h3,label{
    font-size: 20px;
}

header{
    text-align: center;
}
header a{
    text-decoration: none;
    color: black;
    margin: 0 10px;
}
header h1 a{
    background-color: yellow;
}
nav{
    padding: 10px 0px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
nav a{
    padding: 5px;
}
a:hover{
    background-color: yellow;
}

main{
    width: 56%;
    margin: 50px auto;
    padding:0px 70px;
}
/* main > div{
    border: 1px solid red
} */


/* index html styling */
.index-about{
    display: flex;
    flex-wrap: nowrap;
}
.index-about img{
    width: 30%;
}
.index-about div{
    padding: 0px 40px;
}
.index-about p{
    line-height: 28px;
}

.skills-tools h2{
    padding: 10px 0px;
}
.skills-tools li{
    list-style: disclosure-closed;
    padding: 5px;
}


.projects-showcase{
    padding: 20px 0px;
}
.project-showcase--div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
}
.project-div,.showcase-div{
    display: flex;
    flex-direction: column;

}
.projects-showcase img,
.stand-img,
.showcase img{
    width: 300px;
    border: 1px solid black;
}
.projects-showcase a{
    text-align: center;
    padding: 5px;
    text-decoration: none;
    color: black;
}

/* projects.html styling */
.projects-div{
    display: flex;
    margin: 30px 0px;
}
.links-description{
    padding-left: 40px;
}
.span-links{
    font-weight: 700;
    font-style: italic;
}
.projects-div a{
    padding: 5px 10px;
    color: black;
    font-style: italic;
}

/* showcase.html styling */
.showcase{
    display: flex;
    justify-content:space-between;
    padding: 0px 44px;
    flex-wrap: wrap;
}
.showcase img{
    margin: 10px;
    height: 93%;
}


/* socials.html styling */
.contact-form,
.social-links{
    margin: 0 200px;
}
label{
    display: inline-block;
    width: 100px;
}
input{
    height: 30px;
}
input,
textarea{
    width: 300px;
}
fieldset div{
    margin: 30px 50px;
}
.message-box{
    position: relative;
    top: -60px;
}
.send-message-btn{
    text-align: center;
}
.send-message-btn button{
    width: 110px;
    height: 30px;
    font-size: 15px;
}

.social-links div{
    display: flex;
    justify-content: center;
}
.social-links img{
    padding: 0 10px;
    width: 50px;
}
input, textarea, button{
    border-style: none;
    color: black;
    background-color: rgb(199, 199, 199);
}

.linkedin{
    font-weight: 100;
}

/* footer styling */
footer{
    text-align: center;
    border-top: 2px solid black;

}
