* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 30px;
}
.dark-mode {
    background-color: black;
    color: white;
}


main > div {
    margin: 70px 0;
}

/* header */
header {
    position: relative;
}
.header .hello-wish {
    display: flex;
    column-gap: 10px;
}
.header .hello-wish h1 {
    margin-top: 10px;
}
.header .hello-wish p {
    font-size: 40px;
}
.header .hello-msg p{
    margin-top: -10px;
    font-size: 30px;
}
header svg {
    width: 40px;
    height: auto;
    stroke: black;
}
.toggle {
    stroke: white;
    color: white;
    border-color: white !important;
}
header button {
    position: absolute;
    right: 0px;
    top: 10px;
    background-color: transparent;
    border: none;
}

@media screen and (max-width: 550px){
    .header h1 {
        font-size: 35px;
    }
    .header .hello-wish p {
        font-size: 30px;
    }
    .header .hello-msg p {
        font-size: 30px;
    }
}
@media screen and (max-width: 400px){
    .header h1 {
        font-size: 25px;
    }
    .header .hello-wish p {
        font-size: 20px;
    }
    .header .hello-msg p {
        font-size: 20px;
    }
}


/* about section */
.about {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.about .heading {
    flex-grow: 1;
    flex-basis: 20%;
}
.about .image {
    flex-grow: 1.5;
    flex-basis: 20%;
    flex-shrink: 0;
}
.about .image img {
    max-width: 250px;
}
.about .info {
    flex-grow: 2;
    flex-basis: 40%;
}
@media screen and (max-width: 868px) {
    .about .image {
        flex-grow: 2;
    }
}
@media screen and (max-width: 550px){
    .about .heading br{
        display: none;
    }
    .about .heading h2 {
        text-align: center;
    }
    .about .image img {
        margin: 0 auto;
    }
}


/* skills and tools section */
.skills-tools {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.skills-tools .heading {
    flex-basis: 300px;
    text-align: right;
}
.skills-tools .images {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.skills-tools .square {
    width: 70px;
}
.square:first-child {
    color: rgb(255, 255, 255);
}

.skill-toggle {
    fill: #fff;
}
@media screen and (max-width: 868px) {
    .skills-tools {
        flex-flow: column-reverse wrap;
    }
    .skills-tools .images {
        justify-content: center;
    }
    .skills-tools .heading{
        flex-basis: unset;
        text-align: center;
        margin-bottom: 30px;
    }
    .skills-tools .heading br {
        display: none;
        border: 1px solid red;
    }
}


/* stuff section */
.stuff-made,
.stuff-made .stuff {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.stuff-made .stuff > div{
    border: 1px solid black;
    width: 250px;
}
.stuff-made .more button {
    text-align: center;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
    background: none;
}
.stuff-made .more .button {
    text-align: center;
}
.stuff-made .more button:hover,
.stuff-made .more p:hover {
    cursor: pointer;
}
.stuff-made .more {
    align-self: center;
}
.stuff .stuff__section p {
    text-align: center;
}

@media screen and (max-width: 868px) {
    .stuff-made {
        flex-flow: column;
    }
    .stuff-made .stuff {
        justify-content: space-evenly;
    }
    .stuff-made .heading h2{
        text-align: center;
        align-self: center;
        margin-bottom: 40px;
    }
    .stuff-made .heading br{
        display: none;
    }
}


/* socials section */
.find-me {
    display: flex;
    justify-content: space-between;
}
.find-me .heading {
    order: 2;
    text-align: right;
}
.find-me .links {
    flex-basis: 75%;
    align-self: center;
    display: flex;
    justify-content: center;
    gap: 40px;
}
.find-me .links > div {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

@media screen and (max-width: 868px) {
    .find-me {
        flex-flow: column-reverse;
    }
    .find-me .heading {
        text-align: center;
        margin-bottom: 40px;
    }
    .find-me .heading br{
        display: none;
    }
}


/* contact section */
.contact-me {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.contact-me .form input,
.contact-me .form textarea {
    border: none;
    font-size: 20px;
    border-bottom: 1px solid grey;
    padding: 5px;
    font-style: italic;
}
.form form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact-me .more {
    align-self: center;
}
.contact-me .more button {
    text-align: center;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
    background: none;
}
.contact-me .more .button {
    text-align: center
}
.contact-me .more button:hover,
.contact-me .more p:hover {
    cursor: pointer;
}
.form__email input,
.form__message textarea{
    width: 100%;
}

@media screen and (max-width: 868px) {
    .contact-me h2 {
        text-align: center;
    }
    .contact-me {
        flex-direction: column;
        align-items: center;
    }
    .contact-me br {
        display: none;
    }
}
@media screen and (max-width: 550px){
    .form__names input {
        width: 100%;
    }
}



/* footer */
@media screen and (max-width: 868px) {
    footer {
        text-align: center;
    }
}
